@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 
}

body{
 font-family: 'Roboto';
}

.login{
    width: 50%;
    margin:0 auto;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login h1{
    text-align: end;
    padding: 5px;
}

.login input {
    display: block;
    margin:10px 0;
    padding: 5px 10px;
    border:1px solid #111;
    outline: none;
    width: 100%;
}
.login button{
    width:100%;
    padding: 5px 10px;
    background:#111;
    border:1px solid #111;
    color: #fff;
    text-align: center;
    transition: 0.4s ease-in;
    cursor: pointer;
}

.login button:hover{
    color:black;
    background :white;
    cursor: pointer;
}


/* Header */
header {
    background:#111;
    color: #fff;
    width:100%;
    padding: 10px 0;
    text-align: center;
}

header ul li {
    display: inline-block;
    margin: 0 10px;
}
header ul li a{
    color: #fff;
}

.notifi{
    background: green;
    color: #fff;
    text-align: center;
    width: 80%;
    margin:30px auto;
}

/* post */

.main_content{
    display: grid;
    grid-template-columns: 30% 70%;
}

.main_content .post_form{
    width:300px;
    margin: 100px auto;
    box-shadow: rgba(red,green,blue,0.16)0px 1px 4px;
    padding: 30px;
}

.main_content .post_form input ,textarea{
    width:100%;
    border:1px solid #111;
    padding:5px 0;
    margin:20px 0;
}

.main_content .post_form button{
    width:100%;
    background:#111;
    color: #fff;
    padding: 5px 0;
    border:1px solid #111;
    transition: 0.5s ease-in-out;
    margin-bottom: 10px;
    
}

.main_content .post_form button:hover{
    background: transparent;
    color: #111;
}

/* update btn */

.update_btn{
    display: none;
}


.my_blog{
    display: none;
}

.show{
    display: block;
}
.hide{
    display: none;
}

/* .notifiy */
.notifiy{
    width:80%;
    display: block;
    margin:0 auto;
    text-align: center;
    background: greenyellow;
    color: #fff;
    margin-top: 30px;
}



